<div class="pairs-container">
  <div class="pairs">
    <div *ngFor="let pair of user.pairs" class="pair">
      <span class="pair-detail">
      {{ pair.token0.symbol }}/{{ pair.token1.symbol }}
      </span>

      <button class="btn btn-remove" (click)="removePair(pair)">X</button>

    </div>
    <div>
      <form class="add-pair-form" #addPairForm="ngForm" (ngSubmit)="onSubmitForm(addPairForm)">
        <input type="text" id="pairAddress" [(ngModel)]="pairAddress" name="pairAddress">
        <button class="btn btn-remove" type="submit">+</button>
      </form>
    </div>
  </div>
</div>
